################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LumenWorks.Framework.IO/bin/Debug
